.header {
  display: flex;
  margin: 92px 24px 96px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

.header__menu {
  display: flex;
  max-width: 426px;
  width: 42.6%;
  margin-left: 26px;
  align-items: center;
  flex-direction: row;
  margin-top: 2px;
}

.header__links-list {
  display: flex;
  gap: 31px;
  letter-spacing: 0.01em;
}

.header__link {
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: flex;
  height: 105px;
  width: 148px;
}

.header__address {
  margin-left: 17.6%;
}

.address {
  display: flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  text-underline-position: under;
  line-height: 24px;
}

.cover {
  position: relative;
  z-index: 1;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 160px 50px 0 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 120%;
}

.aligned-text {
  display: block;
  line-height: 125%;
}

.aligned-text_center {
  display: block;
  line-height: 130%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  line-height: 110%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  padding: 131px 50px 50px 78px;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.cover__description-text {
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-weight: 400;
  line-height: 127%;
  word-spacing: 18.6px;
}

.bet-button {
  background: transparent;
  text-transform: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
}

.lots {
  padding-top: 181px;
  background-color: #fff;
}

.lots__heading {
  margin: 0 0 26px 64px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  margin: 0 24px;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
}
.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: inherit;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: #fff;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin: 29px 0 29px 64px;
  text-underline-position: under;
}

.about {
  display: flex;
  flex-direction: row;
  padding: 153px 24px 97px 24px;
  gap: 25px;
}

.about__column {
  display: flex;
  min-width: 334px;
  justify-content: center;
}

.about__logo {
  display: flex;
  padding-bottom: 8px;
  padding-left: 1px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 104px;
}

.column__right {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.about__title {
  padding-top: 102px;
  padding-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 24px;
}

.footer {
  display: flex;
  padding: 88px 50px;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
  justify-content: space-between;
}

.footer__address {
  display: flex;
  align-items: start;
  justify-content: center;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  flex-direction: row;
}

.footer__menu-link {
  text-underline-position: under;
  line-height: 21px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  flex-direction: row;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.test {}
